  body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 40px;
        }

        p {
            text-align: center;
            color: #333;
            margin-top: 40px;
        }

        ul {
            list-style: none;
            text-align: center;
            padding: 0;
            margin-top: 30px;
        }

        ul li {
            display: inline-block;
            margin: 10px;
        }

        ul li a {
            text-decoration: none;
            color: white;
            background-color: #28a745;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s;
            width: 150px;
            display: inline-block;
            text-align: center;
        }

        ul li a:hover {
            background-color: #218838;
        }