  body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 40px;
        }

        .novo-chamado {
            max-width: 950px;
            margin: 20px auto;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .novo-chamado input, .novo-chamado select, .novo-chamado textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin-bottom: 10px;
        }

        .novo-chamado button {
            background-color: #28a745;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .novo-chamado button:hover {
            background-color: #218838;
        }

        .chamados {
            max-width: 950px;
            margin: 20px auto;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .chamados table {
            width: 100%;
            border-collapse: collapse;
        }

        .chamados th, .chamados td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .chamados th {
            background-color: #f0f0f0;
            color: #333;
        }

        .chamados td {
            color: #333;
        }
        .botaosair {
            background-color: #FF4500;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .botaosair:hover {
            background-color: #FF6347;
        }


