<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="login.css">
    <title>Página de Login Técnico </title>
</head>
<body>
<button class="botaosair" type="button" onclick="window.location.href='/'">Sair</button>
<h1>Login Técnico</h1>
<div class="login-container">
    <form action="/telatecnico" method="get">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>
</body>
</html>
