<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="telausuario.css">
    <title th:text="${title}">Tela do Usuário</title>

</head>
<body>
<button class="botaosair" type="button" onclick="window.location.href='/'">Sair</button>

<h1 th:text="'Bem-vindo, ' + ${userName} + '!'">Bem-vindo!</h1>

<div class="novo-chamado">
    <h2>Criar Novo Chamado</h2>
    <form action="/criarChamado" method="post">
        <input type="text" name="setor" placeholder="Setor" required>
        <textarea name="descricao" placeholder="Descrição" required></textarea>
        <select name="prioridade">
            <option value="Baixa">Baixa</option>
            <option value="Média">Média</option>
            <option value="Alta">Alta</option>
        </select>
        <button type="submit">Criar Chamado</button>
    </form>
</div>

<div class="chamados">
    <h2>Chamados Criados</h2>
    <table>
        <thead>
        <tr>
            <th>Setor</th>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th>Data de Início</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chamado : ${chamados}">
            <td th:text="${chamado.setor}"></td>
            <td th:text="${chamado.descricao}"></td>
            <td th:text="${chamado.prioridade}"></td>
            <td th:text="${chamado.dataInicio}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

