<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="telatecnico.css">
    <title >Tela do Técnico</title>

</head>
<body>

<button class="botaosair" type="button" onclick="window.location.href='/'">Sair</button>

<h1 th:text="'Bem-vindo, técnico  ' + ${userName} + '!'">Bem-vindo!</h1>

<div class="novo-chamado">
    <h2>Selecione o Chamado para Atendimento</h2>
    <form action="/selecionar" method="post">
        <select multiple size="3">
            <option th:each="chamado : ${chamados}" th:value="${chamado.id}" th:text="${chamado.descricao}"></option>
        </select>
        <button type="submit">Selecionar</button>
    </form>
</div>


<div class="chamados">
    <h2>Chamados</h2>
    <table>
        <thead>
        <tr>
            <th>Técnico</th>
            <th>Setor</th>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th>Dt de Início</th>
            <th>Status</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="chamado : ${chamados}">
            <td th:text="${chamado.técnico.getNome()}"></td>
            <td th:text="${chamado.setor}"></td>
            <td th:text="${chamado.descricao}"></td>
            <td th:text="${chamado.prioridade}"></td>
            <td th:text="${chamado.dataInicio}"></td>
            <td class="Status">

                <select name="Status">
                    <option value="1">Aguardando técnico</option>
                    <option value="2">Em atendimento</option>
                    <option value="3">Escalado para outro setor</option>
                    <option value="4">Finalizado</option>
                </select>

            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

